@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
    position: relative;
}

.close {
    display: none;
}

.hamburger {
    display: none;
}

.right {
    width: 75vw;
}

.logo img {
    width: 100px;
}

.home {
    padding: 20px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    padding: 14px 0;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 10px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    align-items: center;
}

.nav {
    display: flex;
    gap: 15px;
}

.header>* {
    padding: 10px;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow-y: auto;   
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.card h2 {
    font-size: large;
}

.card p {
    font-size: small;
}

.card * {
    padding-top: 10px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.play {
    position: absolute;
    left: 155px;
    top: 150px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover {
    background-color: #454242;
}

.card:hover .play {
    opacity: 1;
    transform: translateY(0);
}

.buttons>* {
    padding: 12px;
    margin: 0px 5px;
}

.signupbtn {
    background-color: black;
    color: rgb(143, 142, 142);
    font-weight: bold;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 14px;
}

.signupbtn:hover {
    font-size: 15px;
    color: rgb(194, 187, 187);
}

.loginbtn {
    font-size: 17px;
    background-color: white;
    border-radius: 40px;
    color: black;
    padding: 12px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.loginbtn:hover {
    font-weight: bolder;
    font-size: 17.2px;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: rgb(28, 28, 28);
    width: calc(100% - 24px);
    padding: 12px;
    border-radius: 3px;
    height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.songList {
    height: 450px;
    overflow: auto;
}

.songList ul {
    padding: 0px 10px;
}

.songList ul li {
    list-style-type: decimal;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;
    padding: 13px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 12px 0;
    font-size: 14px;
}

.playnow {
    transition: all 0.1s ease;
}

.playnow:hover {
    transform: scale(1.2);
}

.seekbar {
    height: 6px;
    width: 98%;
    position: absolute;
    bottom: 2px;
    background-color: rgb(97, 95, 95);
    border-radius: 30px;
    margin-bottom: 4px;
    cursor: pointer;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(58, 58, 58);
    position: relative;
    bottom: 4.5px;
    left: 0%;
    transition: left 0.5s ease;
}

.songinfo,
.songtime {
    position: absolute;
    top: 15px;
}

.songinfo {
    left: 20px;
}

.songtime {
    right: 20px;
}

.volume {
    position: absolute;
    top: 13px;
    right: 240px;
    cursor: pointer;
}

.range {
    position: absolute;
    top: 13px;
    right: 130px;
}

.volume-bar {
    width: 100px;
    accent-color: rgb(13, 183, 13);
    height: 7px;
    border: none;
}

@media (max-width: 1100px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .5s ease;
        z-index: 3;
        width: 350px;
        height: 100%;
        padding: 0;
    }

    .close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .close img {
        width: 32px;
    }

    .right {
        width: 100vw;
        height: 95vh;

    }

    .hamburger {
        display: block;
    }

    .cardContainer {
        margin: 20px 0;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 300px;
    }

    .card img {
        width: 300px;
        height: 300px;
    }

    .play {
        top: 242px;
        left: 252px;
    }

    .playbar {
        width: calc(100% - 24px);
        height: 50px;
    }

    .seekbar {
        width: 96%;
        left: 2%;
    }

    .songbuttons {
        padding: 4px;
    }

    .songinfo {
        top: 19px;
    }

    .volume {
        top: 35px;
        right: 105px;
        width: 20px;
    }

    .range {
        top: 35px;
        right: 20px;
    }

    .volume-bar {
        width: 80px;
    }
}